extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                 h1.text-center #{pagina} 
                 
                 blockquote.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida ante odio, sed accumsan ex volutpat vel. Etiam a tellus condimentum, accumsan tellus quis, finibus ante. Pellentesque vel augue eget diam tempus porta. Fusce finibus viverra mi nec convallis. Nulla tristique ligula diam, sed commodo mauris porttitor quis. Curabitur vulputate porta lacus, nec vulputate lacus pulvinar eget. Ut iaculis, sapien id fermentum aliquam, mi mi vulputate dui, tempus dictum orci arcu in orci. Morbi a justo orci. 

                  p.text-justify Donec rutrum placerat lorem eu eleifend. Aenean sed velit vel dui commodo condimentum quis id erat. Etiam fringilla, dolor eu venenatis ornare, sem magna suscipit lectus, quis lobortis metus arcu id ligula. Proin quis semper felis. Nam venenatis sem et semper volutpat. Vivamus eget erat malesuada, aliquam velit et, hendrerit mi.

                  p.text-justify Sed mattis velit vel urna viverra molestie. Nullam id enim sed turpis dapibus dignissim a non eros. Duis vulputate, diam non pretium lobortis, est elit hendrerit orci, nec accumsan libero metus a erat. Quisque semper massa nec enim tempus, nec fringilla purus volutpat. Nam at eros ac libero blandit vestibulum eu a libero. Vestibulum consectetur tortor eu tristique gravida. Integer consequat laoreet dolor, id interdum neque facilisis hendrerit. 

        .listado-iconos 
          .container.mt-5.py-5.text-center    
            .row     
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Vestibulum consectetur tortor eu tristique gravida. Integer consequat laoreet dolor, id interdum neque facilisis hendrerit. 

                
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Vestibulum consectetur tortor eu tristique gravida. Integer consequat laoreet dolor, id interdum neque facilisis hendrerit. 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Vestibulum consectetur tortor eu tristique gravida. Integer consequat laoreet dolor, id interdum neque facilisis hendrerit.     
